<h1>All Dogs</h1>
<% @dogs.each do |dog| %>
  <h2><%= dog.name %></h2>
  <p>Breed: <%= dog.breed %></p>
  <p>Image: <%= dog.image %></p>
  <%= link_to "More Info", photo %>
  <%= link_to "New photo", new_photo_path %>
  <%= link_to "Edit photo", edit_photo_path(@photo) %>
  <%= link_to "Destroy photo", photo_path(@photo), data: {turbo_method: :delete} %>
<% end %>